     body {
        font-family: "Sono", sans-serif;
      }

      .plan-features {
        list-style: none;
        margin: 10px;
        padding: 0;
      }

      .plan-features li {
        margin: 5px;
      }

      .pricing-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin: auto;
        height: 80vh;
      }

      .pricing-plan {
        width: 100%;
        max-width: 320px;
        flex: 1;
        background-color: #EEEEEE;
        padding: 10px;
        margin: 5px;
        border-radius: 10px;
        text-align: center;
      }

      .plan-title {
        font-weight: bold;
        font-size: 1.5rem;
        margin-top: 10px;
      }

      .plan-price {
        font-weight: bold;
        font-size: 2.5rem;
        padding-bottom: 5px;
      }

      .plan-button {
        background-color: #002B5B;
        color: #EEEEEE;
        padding: 10px;
        border-radius: 5px;
        margin: 10px;
        border: none;
      }

      footer {
        text-align: center;
        font-size: x-small;
        margin: 0px 0px 0px;
      }

      /* Hint: What can you do with a media query and flexbox? */
      @media (max-width: 1250px) {

       .pricing-container {
        flex-direction: column;
        height: 100%;
        margin: 0px 0px;
       }

       footer {
        text-align: center;
        font-size: x-small;
        margin: 50px 0px;
      }
       
      }
